html { 
  background: url(/1920px-Alayavijnana_Background.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {  
  width: 100%;
  height: 4em;
  max-width: 1200px;
  margin-top: -1.75em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
  background: linear-gradient(90deg, rgba(117,0,0,1) 0%, rgba(172,0,0,1) 50%, rgba(0,0,0,1) 100%);}

#menu {
  width: 100%;
  margin: 0 auto;
  text-align: left;  
}

#menu ul {
  margin: 0;
  padding: 0;
  line-height: normal;  
}
 
.icon {
    background: url(../images/icon.png);
    height: 20px;
    width: 20px;
    display: block;
}

#menu ul li {
  width: 8%;
  display: inline;
  float: left;
  padding-top: 0.8em;  
  list-style: none;
  text-align: center;
}

#menu ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 1.0em;
  color: #222;
}

#menu ul li a:hover,
#menu ul li a.active {
  font-weight: bold;
  color: #111;
  background: url(/Wiki_Icon.png) no-repeat bottom center;
}

#sidebar-wrapper,
#sidebar {
  margin-top: 4em;
  margin-left: 0.3em;
}

#sidebar-wrapper {
  background: #333333
}

#sidebar-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding-top: 1em;
}

#content-wrapper {
  padding: 1em;
  box-shadow: 0 3px 9px 0 rgba(75,75,75,0.4);
}

#content-wrapper {
    background-color: #ffffff;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #252525;
}

div {
    display: block;
}

.body-content:after {
    clear: both;
    content: '';
    display: block;
}

.sidebar-content ul {
  padding:0.25em 0 0.5em 0
}

.sidebar-section {
  padding-bottom:0.25em
}

#sidebar-wrapper ul {
    list-style-type: none;
    margin: 0;
}

.sidebar-content ul {
    padding: 0.25em 0 0.5em 0;
}

#header-wrapper, 
#sidebar-wrapper, 
#footer-wrapper {
    color: #ffffff;
}

